*{
	margin: 0;
	padding: 0;
}
.menu a{
	width: 140px;
	 font-family: 'Open Sans', sans-serif;
	margin-left: 15px;
	 font-size: 23px;
	}
.menu ul{
	background-color: #d6d6d6;
	margin-top: 10px;
	margin-bottom: 15px;
	width: 100%;
	height: 37px;
	box-shadow: 0px 10px 20px;
}
.menu ul li{
	margin-left: 1px;
	display: inline;
	padding:10px;
	width: 230px;
	height: 1px;
	
}

.menu ul li a{
	padding:0px 10px;
	width: 120px;
	height: 55px;
	margin-left: 15px;
	color: red;
	text-transform: uppercase;
	
	font-weight: bold;
}
.menu ul li a:hover{
	width: 100px;
	height: 50px;
	background-color: #6d6d6d;
    color: white;
    border-bottom:3px solid #EA0000;
    
}
.toggle{
	display: none;
}
.toggle i{
	font-size: 40px;
	float: right;
	margin-bottom: 30px;
}


.sub-menu{
	display: none;
}



.menu-responsivo{
	display: none;
}
.menu-responsivo ul {
	padding: 0;
	width: 200px;
	margin-left: -200px;
}
.menu-responsivo ul li{
	border: solid 1px;
	list-style: none;
}
.menu-responsivo ul li a{
	color: red;
	text-decoration: none; 
}



}
.inicio{
	margin-top:30px;
}




.topo{
	background-image: url(imagens/logo.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 215px;
	
		


}
body{
	background-image: linear-gradient(to left,white,#ff8c00,white);
	background-repeat: no-repeat;
} 	
.inicio{
	list-style: none;
	font-size: 40px;
}
.inicio h4{
	
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	margin-left: 15px;
	margin-right: 15px;
}
.inicio h2{
	margin-top: 10px;
	font:italic bold small-caps 30px;
	color: #666666;
	text-align: left;
	font-size: 40px;
	
	box-shadow: 0px 10px 10px;
}
.primeiro {
	color:blue;
}

.menu2 a{
	font-size: 17px;
	color: #6d6d6d;
	margin:auto;
}

.videos iframe{
	width: 50%;
	
	
}



.rodape{
	margin-top: 30px;
	margin-left: 25px;
	margin-bottom: 30px;
	}

.rodape i{
	font-size: 35px;
	margin-top: 35px;
	margin-left: 35px;
	color: #8470FF;
}
.rodape {
	background-image: url('imagens/logo22.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 1200px;
	height: 120px;
}
.twiter i{
		font-size: 35px;
	margin-top: -35px;
	margin-left: 75px;
	color: #8470FF;

}
.foto img{
	width: 100px;

}
.foto h5{
	margin-left: 650px;
	margin-top: 30px;
}





/*dispositivo movel*/

@media screen and (max-width: 990px){
.topo{
	width: 100%;
	height: 50%;
}
.videos iframe{
	width: 100%;
	
	
}

.toggle {
	display: block;
}


.menu ul{
	display: none;
}


.menu-responsivo{
	display: block;
}
.menu-responsivo a{
	width: 140px;
	 font-family: 'Open Sans', sans-serif;
	margin-left: 15px;
	 font-size: 23px;
	}
.menu-responsivo ul{
	background-color: #d6d6d6;
	margin-top: 10px;
	margin-bottom: 15px;
	width: 100%;
	height: 37px;
	box-shadow: 0px 10px 20px;
}
.menu-responsivo ul li{
	margin-left: 1px;
	display: inline;
	padding:10px;
	width: 230px;
	height: 1px;
	
}

.menu-responsivo ul li a{
	padding:0px 10px;
	width: 120px;
	height: 55px;
	margin-left: 15px;
	color: red;
	text-transform: uppercase;
	
	font-weight: bold;
}
.menu-responsivo ul li a:hover{
	width: 100px;
	height: 50px;
	background-color: #6d6d6d;
    color: white;
    border-bottom:3px solid #EA0000;
    
}



.t

.inicio img{
	width: 100%;
}
.inicio h4{
	font-size:35px;
	margin-left: 1px;
	margin-right: 1px;
}
.inicio h2{
	font-size: 45px;
	position: relative;
}

.conteudo img{
	width: 100%;
}
.conteudo h3{
	font-size: 45px;
	text-align: center;
}
.conteudo h4{
	font-size: 35px;
	
}
.opala img{
	width: 100%;
}




}
@media screen and (max-width: 748px){
.inicio img{
	width: 100%;
}
.inicio h4{
	font-size:35px;
	margin-left: 1px;
	margin-right: 1px;
}
.inicio h2{
	font-size: 45px;
	position: relative;
}
.conteudo img{
	width: 100%;
}
.conteudo h3{
	font-size: 45px;
	text-align: center;
}
.conteudo h4{
	font-size: 35px;

}
.opala img{
	width: 100%;
}
.menu a{
	font-size: 30px;
}
}
s