*{
	margin: 0;
	padding: 0;
}
body{
	background-image linear-gradient(to left,white,#ff8c00,white);
	background-repeat: no-repeat;
} 
.opala img{
    box-shadow: 0 25px 50px 10px;
    margin-bottom: 20px;
}
.col-md-12 img{
    margin-top: 15px;
	width: 100%;
    height: 25%;
    box-shadow: 0 -5px 50px 10px;
	
}
/*redes sociais*/
 #meumenulado1 a{
	display: block;
    position: fixed;
    right: -30px;
    transition: 0.3s;
    padding-left: -100px;
    padding: 15px;
    width: 80px;
    text-decoration: none;
    font-size: 20px;
    color: #d6d6d6;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 0 10px;
}
#meumenulado1 a:hover {
    right: 0px;
}


#home {
    top: 20px;
    background-color: #4CAF50;
}

#galeria {
	top: 80px;
    background-color: #2196F3;
}

#pontos {
    top: 140px;
    background-color: #f44336;
}

#serviços {
    top: 200px;
    background-color: #555;
}
/*redes sociais*/
/*menu principal*/
#main h2{
	font-size: 35px;
	text-transform: uppercase;
	font-style: italic;
	font-weight: bold;

}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: url(imagens/logotx1.jpg);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 18px 32px;
    text-decoration: none;
    font-size: 30pt;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #ff4500;
}

.sidenav .closebtn {
    position: absolute;
    top: 50px;
    right: 35px;
    font-size: 25px;
    margin-left: 50px;
    border-radius: 10px;
    background: transparent;
    box-shadow: 0px 0px 10px 3px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
} 
/*menu tablet*/

/*header*/


}
.inicio{
	margin-top:30px;
}




 	
.inicio{
	list-style: none;
	font-size: 20px;
}
.inicio h4{
	
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	margin-left: 15px;
	margin-right: 15px;
}
.inicio h2{
	margin-top: 30px;
	font:italic bold small-caps 30px;
	color: #666666;
	text-align: left;
	font-size: 35px;
	
	box-shadow: 0px 10px 10px;
}




.videos iframe{
	width: 50%;
	
	
}

#main button{
    border-radius: 10px;
   background: transparent;
   
   box-shadow: 5px 10px 5px 2px;
    z-index: 99;
}



/*menu lateral*/





@media (max-width: 990px) {
#meumenulado1 i{
    margin-left: -3px;
}
.sidenav a{
    font-size: 50pt;
}
 #meumenulado1 a{
	display: block;
    position: fixed;
    right: -40px;
    transition: 0.3s;
    padding-right: -10px;
    padding: 15px;
    width: 80px;
    text-decoration: none;
    font-size: 20px;
    color: #d6d6d6;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 0 10px;
}
#meumenulado1 a:hover {
    right: 0px;
}
.inicio h2{
	margin-top: 40px;
	margin-right: -43px;
	margin-left: -43px;
	font:italic bold small-caps 20px;
	color: #666666;
	text-align: center;
	font-size: 40px;
	
	box-shadow: 0px 10px 10px;
}
.inicio h4{
    margin-top: 20px;

	margin-right: -40px;
	margin-left: -40px;
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	text-align: center;
}
.col-md-12 img{
	width: 100%;
	height: 55px;

    box-shadow: 0 -5px 50px 10px;
}
.opala img{
    width: 100%;
    box-shadow: 0 25px 50px 10px;
}
.videos iframe{
    margin-top: 10px;
	width: 100%;
	
	
}
}
@media (max-width: 865px){
.inicio h2{
	margin-top: 30px;
	margin-right: 10px;
	margin-left: 10px;
	font:italic bold small-caps 20px;
	color: #666666;
	text-align: left;
	font-size: 30px;
	
	box-shadow: 0px 10px 10px;
}	
.inicio h4{
	
	margin-right: 15px;
	margin-left: 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	
}
}

































